* {
  text-decoration: none;
  list-style: none;
}
.main-meal-one {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
  align-items: start;
  justify-content: start; /* Center the cards horizontally */
  margin-top: 50px;
  padding: 10px 60px;
  margin-bottom: 2rem;
}
.box-one {
  border: 1px solid #ddd;
  border-radius: 8px;

  background-color: rgb(21, 18, 41);

  transition: transform 0.2s;
  width: 15rem; /* Set a fixed width for the cards */
}

.text-h1 {
  font-size: 42px;
  color: black;
  font-weight: 800;
  margin: 15px 0px;
  padding: 10px 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.text-value {
  margin: 20px;
  color: white;
}
.text-value .name-h1 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.text-value .cateogry-h3 {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: monospace;
  cursor: pointer;
}
.text-value .area-p {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: monospace;
  cursor: pointer;
}
